MONGO_URI="mongodb+srv://<your-username>:<your-password>@<cluster-url>/<database-name>?retryWrites=true&w=majority"
PORT=3000
JWT_ACCESS_SECRET="<your-access-secret>"
JWT_REFRESH_SECRET="<your-refresh-secret>"
JWT_ACCESS_EXPIRES_IN="2m"
JWT_REFRESH_EXPIRES_IN="50m"
EMAIL_USER="<your-email>"
EMAIL_PASS="<your-email-password>"
FRONTEND_URL="http://localhost:5173"